<% var language_tabs = language_tabs || false %>
<% var toc_footers = toc_footers || false %>
<% var includes = includes || false %>
<% var search = search || false %>
<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title><%= title || "API Documentation" %></title>

    <link href="./css/_normalize.css" rel="stylesheet" type="text/css"></link>
    <link href="./css/_monokai.css" rel="stylesheet" type="text/css"></link>
    <link href="./css/style.css" rel="stylesheet" type="text/css"></link>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script src="./js/lib/energize.js"></script>
    <script src="./js/lib/imagesloaded.min.js"></script>
    <script src="./js/lib/jquery_ui.js"></script>
    <script src="./js/lib/jquery.highlight.js"></script>
    <script src="./js/lib/jquery.tocify.js"></script>
    <script src="./js/lib/lunr.js"></script>
    <script src="./js/script.js"></script>

    <% if (language_tabs){ %>
      <script>
        $(function() {
            setupLanguages(<%- JSON.stringify(language_tabs) %>);
        });
      </script>
    <% } %>
  </head>

  <body class="">
    <a href="#" id="nav-button">
      <span>
        NAV
        <img src='./images/navbar.png' alt="navbar"/>
      </span>
    </a>
    <div class="tocify-wrapper">
      <img src="./images/logo.png" alt="logo"/>
      <% if (language_tabs){ %>
        <div class="lang-selector">
          <% for( var lang in language_tabs){ %>
              <a href="#" data-language-name="<%= language_tabs[lang] %>"><%= language_tabs[lang] %></a>
          <% } %>
        </div>
      <% } %>
      <% if (search) { %>
        <div class="search">
          <input type="text" class="search" id="input-search" placeholder="Search">
        </div>
        <ul class="search-results"></ul>
      <% } %>
      <div id="toc">
      </div>
      <% if (toc_footers){ %>
        <ul class="toc-footer">
          <% for( var link in toc_footers){ %>
              <li><%- toc_footers[link] %></li>
          <% } %>
        </ul>
      <% } %>
    </div>
    <div class="page-wrapper">
      <div class="dark-box"></div>
      <div class="content">
        <%- contents %>
        <% if( includes ){ %>
          <% for( var include in includes ) { %>
              <%- markdown( read( '_' + includes[include] + '.md') ) %>
          <% } %>
        <% } %>
      </div>
      <div class="dark-box">
        <% if (language_tabs){ %>
          <div class="lang-selector">
            <% for( var lang in language_tabs){ %>
                <a href="#" data-language-name="<%= language_tabs[lang] %>"><%= language_tabs[lang] %></a>
            <% } %>
          </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
